* {
    margin:0;
}

#angeli {
    max-width: 100%;
    max-height: auto;
}

.ul1 {
    text-decoration: underline;
    color:blue;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.gradient1{
    background-image: linear-gradient(rgb(133, 132, 132), rgb(251, 251, 250));

}

.jizn1 {
    max-width: 400px;
    max-height: auto;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
}